@CHARSET "UTF-8";
body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
}

textarea{
	font-family: 'Lato', sans-serif;
}

.banner{
	background-color: #3c3c3c;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 60px;
	text-align: left;
}

.bannerButtons{
	float: right;
	font-size: 18px;
	margin: auto;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 25px;
}

.title{
	 display: inline-block;
 	 vertical-align: middle;
 	 line-height: normal;
 	 color: white;
 	 margin-left: 5%;
}

.main{
	width: 100%;
	border-bottom: 2px solid #cecece;
}

.menu{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 1000px;
	height: 100%;
	border-radius: 2px;
	background-color: #f2f2f2;
}

.littleBanner{
	padding-top: 5px;
	padding-bottom: 8px;
	background-color: #3c3c3c;
	width: 1000px;
	text-align: center;
	font-size: 25px;
	color: #FFFFFF;
	text-align: left;
}

.littleTitle{
	 display: inline-block;
 	 vertical-align: middle;
 	 line-height: normal;
 	 color: white;
 	 margin-left: 5%;
}

.infoSection{
	width: 100%;
	background-color: #fff;
	overflow:auto;
}

.info{
	width: 1000px;
	margin: auto;
}

.about{
	float: left;
	width: 450px;
	margin-bottom: 30px;
}

.about:last-child{
	margin-left: 100px;
}

.footer{
	clear: both;
	width: 100%;
	height: 60px;
	background-color: #3c3c3c;
	color: white;
}

.footerText{
	display: inline-block;
	margin-top: 20px;
 	color: white;
 	margin-left: 5%;
}

.footerText:first-child{
 	margin-left: 25%;
}

.formSection{
	width: 100%;
	overflow:auto;
}

.form{
	width: 300px;
	margin: auto;
	background-color: #FFF;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	margin-bottom: 30px;
	text-align: center;
}

form{
	margin-bottom: 10px;
}

.success{
	color: #51cc61;
}

.failure{
	color: #ee2f2f;
}

.text
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.text:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #919191;
	background-color: #e5e5e5;
	color: #666;
}

.submit
{
	width: 300px;
	background-color: #3c3c3c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.submit:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

.submit:hover
{
	background-color: #4d4d4d;
}

.select{
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 30px;
    width: 150px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	border: 2px solid #ddd;
}

.blueButton{
	height: 40px;
	width: 150px;
	background-color: #4277F4;
	color: #FFF;
	border: 1px solid #5388F5;
	margin-bottom: 20px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 2px;
}

.blueButton:hover{
	background-color: #5388F5;
}

#remember_me{
	margin-top: 15px;
}

h1{
	color: #999999;
}

h2{
	color: #999999;
}

h4{
	color: #999999;
}

a{
	text-decoration: none;
	color: #fff;
}

.button{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	background-color: #3c3c3c;
	border-width: 0px;
	cursor: pointer;
}

.errors{
	color: #800000;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.error{
	width: 300px;
	background-color: #ff8080;
	color: #800000;
	border: 2px solid #ff0000;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.error::-webkit-input-placeholder {
  color: #800000;;
}
.error::-moz-placeholder {
  color: #800000;;
}
.error:-ms-input-placeholder {
  color: #800000;;
}
.error:-moz-placeholder {
  color: #800000;;
}

.adminMain{
	width: 100%;
}

.adminPanel{
	width: 1000px;
	margin: auto;
	background-color: #FFF;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	margin-bottom: 30px;
	text-align: center;
}

.adminButton{
	width: 150px;
	background-color: #3c3c3c;
	font-size:15px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
}

.adminButton:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

.adminButton:hover
{
	background-color: #4d4d4d;
}

.errorMain{
	width:100%;
}

.webError{
	text-align: center;
	color: #ff0000;
	padding-top:50px;
	font-size: 30px;
}

.smallContent{
	font-size: 15px;
	color: #7f7f7f;
}

.content{	
	border-right: 2px solid #cecece;
	border-bottom: 2px solid #cecece;
	border-left: 2px solid #cecece;
	width: 996px;
	background-color: #fff;
}

.contentField{
	border-bottom: 1px solid #cecece;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.contentField a{
	color: #000000;
}

.contentField a:hover{
	color: #505050;
}

.contentDate{
	font-size: 11px;
	color: #7f7f7f;
}

.contentTitle{
	font-size: 20px;
}

.contentFieldDescription{
	color: #000000;
}

.smallCommentBanner{
	padding-top: 5px;
	background-color: #FFF;
	width: 986px;
	height: 30px;
	text-align: center;
	font-size: 18px;
	color: #000;
	text-align: left;
	border: 1px solid #cecece;
	padding-left: 10px;
}

.contentWhiteDescription{
	display: inline-block;
	font-size: 12px;
	color: #FFF;
}

.contentWhiteDescription:FIRST-CHILD{
	margin-left: 20px;
}

.contentWhiteDescription a{
	color: #ff4a4a;
	font-size: 14px;
}

.contentWhiteDescriptionDate{
	font-size: 12px;
	color: #ff4a4a;
}

.contentSuccess{	
	text-align: center;
	heigth: 40px;
	width: 996px;
	background-color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}