<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8" />
		<title>ITForum registration</title>		 
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" ></link>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	</head>
	
	<body>
		<div>
			<div class="banner">
				<a class="title" th:href="@{/}">ITForum</a>
				<div sec:authorize="isAuthenticated()" class="bannerButtons">
					<form th:action="@{/logout}" method="post">
    					<input class="button" type="submit" value="Logout">
					</form>
				</div>
			</div>
			
			<div class="errorMain">
				<div class="webError">Error, page not found</div>
			</div>
		</div>
	</body>
</html>